.Slave1{
   background-image: url('../../images/slave1.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}


.Droidcontrolship{
   background-image: url('../../images/droidControlShip.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.AA-9Coruscantfreighter{
   background-image: url('../../images/aa9Fighter.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.Naboofighter{
   background-image: url('../../images/nabooFighter.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.SolarSailer{
   background-image: url('../../images/Solar_Sailer_Coruscant.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}


.Jedistarfighter{
   background-image: url('../../images/jediStarfighter.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.H-typeNubianyacht{
   background-image: url('../../images/h-type-nubian-yacht_7d67bc00.jpeg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}


.J-typediplomaticbarge{
   background-image: url('../../images/J-type-diplomatic-barge.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.RepublicAssaultship{
   background-image: url('../../images/assult.jpeg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.CR90corvette{
   background-image: url('../../images/CR90-corvette.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}


.TradeFederationcruiser{
   background-image: url('../../images/Trade-Federation-Cruiser.png');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.Theta-classT-2cshuttle{
   background-image: url('../../images/shuttle.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}


.Republicattackcruiser{
   background-image: url('../../images/VenatorTurbolasers-HH.png');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.V-wing{
   background-image: url('../../images/V-wing_BF2.png');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.arc-170{
   background-image: url('../../images/ARC-170_Starfighter.png');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}


.Belbullab-22starfighter{
   background-image: url('../../images/SoullessOne-TCWIV.png');
   background-size: cover;
   background-position: center;
}

.Bankingclanfrigte{
   background-image: url('../../images/Munificent_TCW.png');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.JediInterceptor{
   background-image: url('../../images/Eta-2JediInterceptor-USC.png');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.Naboostarskiff{
   background-image: url('../../images/Nabooskiff-SWCTP.png');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.Scimitar{
   background-image: url('../../images/scimitar.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.RepublicCruiser{
   background-image: url('../../images/Consularclasscruiser.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.NabooRoyalStarship{
   background-image: url('../../images/nabooroyalstarship.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.StarDestroyer{
   background-image: url('../../images/stardestroyer.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.MillenniumFalcon{
   background-image: url('../../images/milleniumFalcon.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.Executor{
   background-image: url('../../images/Executorclassstardreadnought.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.X-wing{
   background-image: url('../../images/x-wing.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.Y-wing{ 
   background-image: url('../../images/Y-Wing-Fighter.jpeg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;

}


.B-wing{ 
   background-image: url('../../images/BWingStarfighter.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;

}


.A-wing{ 
   background-image: url('../../images/AwingFighter.jpeg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;

}

.Rebeltransport{ 
   background-image: url('../../images/Rebeltransport.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;

}


.CalamariCruiser{
   background-image: url('../../images/calamaristarcruiser.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.EF76Nebulon-Bescortfrigate{
   background-image: url('../../images/Nebulon-BFrigate.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.Imperialshuttle{
   background-image: url('../../images/Imperialshuttle.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.Sentinel-classlandingcraft{
   background-image: url('../../images/SentinelLandingCraft.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.DeathStar{
   background-image: url('../../images/DeathStar.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.TIEAdvancedx1{
   background-image: url('../../images/TIEAdvancedx1.jpg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}


.container{
   width: 400px;
   margin: 0 auto;
   padding: 30px;

   border: 1px solid rgb(206, 207, 204);
   border-radius: 10px;
}

.loaderContainer{
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}