.Slave1{
   background-image: url('../../images/slave1.jpg');
   background-size: cover;
   background-position: center;
}


.Droidcontrolship{
   background-image: url('../../images/droidControlShip.jpg');
   background-size: cover;
   background-position: center;
}

.AA-9Coruscantfreighter{
   background-image: url('../../images/aa9Fighter.jpg');
   background-size: cover;
   background-position: center;
}

.Naboofighter{
   background-image: url('../../images/nabooFighter.jpg');
   background-size: cover;
   background-position: center;
}

.SolarSailer{
   background-image: url('../../images/Solar_Sailer_Coruscant.jpg');
   background-size: cover;
   background-position: center;
}


.Jedistarfighter{
   background-image: url('../../images/jediStarfighter.jpg');
   background-size: cover;
   background-position: center;
}

.H-typeNubianyacht{
   background-image: url('../../images/h-type-nubian-yacht_7d67bc00.jpeg');
   background-size: cover;
   background-position: center;
}


.J-typediplomaticbarge{
   background-image: url('../../images/J-type-diplomatic-barge.jpg');
   background-size: cover;
   background-position: center;
}

.RepublicAssaultship{
   background-image: url('../../images/assult.jpeg');
   background-size: cover;
   background-position: center;
}